.platformLink {
    @apply p-5 flex flex-col gap-3;
    color: var(--platformLinkColor);
}

.platformLink:hover {
    color: var(--platformLinkHoverColor);
    background-color: var(--platformLinkBackgroundHoverColor);
}

.platformLinkTitle {
    @apply flex items-center text-base md:text-lg;
}

.platformLinkIcon {
    @apply text-2xl mr-2;
}