.books {
  @apply flex flex-col pt-5;
}

.bookList {
  @apply py-5;
}

.categoryTitle {
  @apply px-5;

  color: var(--titleColor);
}

.bookEntry {
  @apply flex;
}

.bookEntry:hover {
  color: var(--bookEntryHoverColor);
  background-color: var(--bookEntryBackgroundHoverColor);
}

.bookEntry:active {
  color: var(--bookEntryHoverColor);
  background-color: var(--bookEntryBackgroundHoverColor);
}

.bookEntry .treeNode {
  @apply hidden md:block;

  stroke: var(--color);
}

.bookEntry:hover .treeNode {
  stroke: var(--bookEntryHoverColor);
}
