.languages {
  @apply flex flex-col pt-2;
  height: 350px;
  overflow-y: auto;
  padding-bottom: 20px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.languages::-webkit-scrollbar {
  display: none;
}

.languageEntry {
  @apply flex;
}

.languageEntry:hover {
  color: var(--languageEntryHoverColor);
  background-color: var(--languageEntryBackgroundHoverColor);
}

.languageEntry:active {
  color: var(--languageEntryHoverColor);
  background-color: var(--languageEntryBackgroundHoverColor);
}

.languageEntry .treeNode {
  @apply hidden md:block;
  stroke: var(--color);
}

.languageEntry:hover .treeNode {
  stroke: var(--languageEntryHoverColor);
}
