/* Hide scrollbar for Chrome, Safari and Opera */
.noScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.extraInfo {
  @apply flex flex-row flex-wrap sm:h-full overflow-y-hidden;
}

.extraSectionTitle {
  @apply ml-5 w-max px-2;

  color: var(--focusColor);
  background-color: var(--bg);
}

.extraSection {
  @apply h-full sm:h-auto;
}

.extraInnerSection {
  @apply flex flex-col border mx-7 max-h-[95%] overflow-y-auto noScrollbar;

  border-color: var(--extraPageBorderColor);
}
