.icon {
    @apply text-lg sm:text-2xl mr-3;
}

.quickLink {
    @apply flex items-center py-2 px-4 my-2 mr-4 text-base sm:text-lg border rounded;

    color: var(--quickLinkButtonColor);
    border-color: var(--quickLinkButtonBorderColor);
    background-color: var(--quickLinkButtonBackgroundColor);
}

.quickLink:hover {
    color: var(--quickLinkButtonHoverColor);
    border-color: var(--quickLinkButtonBorderHoverColor);
    background-color: var(--quickLinkButtonBackgroundHoverColor);
}

.cvLink {
    color: var(--quickLinkButtonHoverColor);

    background-color: #CA8010;
    border-color: transparent;
}