.quickLink {
    @apply py-2 px-4 my-2 mr-8 text-2xl border rounded;

    color: var(--quickLinkButtonColor);
    border-color: var(--quickLinkButtonBorderColor);
    background-color: var(--quickLinkButtonBackgroundColor);
}

.quickLink:hover {
    color: var(--quickLinkButtonHoverColor);
    border-color: var(--quickLinkButtonBorderHoverColor);
    background-color: var(--quickLinkButtonBackgroundHoverColor);
}