.timeZone {
  @apply hidden lg:flex;
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
